body {
    font-size: 14px;
    font-family: Helvetica Neue,PingFang SC,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STHeiti,\\534E\6587\7EC6\9ED1,sans-serif;
}
.clearfix::after {
    clear: both;
    height: 0;
    content: ' ';
    display: block;
    font-size: 0;
    visibility: hidden;
}
li {
    list-style-type: none;
}
.g-container {
    overflow: hidden;
    background-color: #ededed;
}
.g-center-wrapper {
    position: relative;
    width: 1220px;
    margin:  auto;
}

.m-header {
    padding: 20px 0;
    background-color: #1a1a1a;
}

.nav-logo {
    float: left;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background: url(../img/global-logo-red.png) no-repeat 0 5px;
    background-size: cover;
}
.nav-logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.nav-list {
    float: right;
}
.nav-list {
    margin: 10px 150px 0 0;
}
.nav-list li {
    float: left;
    line-height: 30px;
    font-weight: bold;
}
.nav-list li a {
    display: block;
    padding: 0 25px;
    color: #c8c8c8;
}
.nav-list li a:hover {
    color: #fff;
}
.nav-list li a.active {
    color: #fff;
}
.nav-aside {
    position: absolute;
    right: 0;
    top: 14px;
}
.nav-aside li {
    position: relative;
    float: left;
}
.nav-user a,
.nav-cart a  {
    color: #c8c8c8;
}
.nav-cart a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.nav-cart {
    margin-left: 20px;
}
.nav-cart .cart-num {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 25px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 18px;
    background-color: #c8c8c8;
}
.header-menu {
    padding: 30px 0;
}
.h-menu-list li {
    float: left;
}
.h-menu-list a {
    padding: 0 20px;
    color: #666;
}
.h-menu-list a:hover {
    color: #5079d9;
}
.h-menu-list li:first-child a {
    padding-left: 5px;
}
.g-footer {
    margin-top: 60px;
    padding: 100px 0 40px;
    border-top: 1px solid #e6e6e6;
    background-color: #fafafa;
}
.g-footer .siteinfo {
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
}
.g-footer .footer-link {
    float: left;
    margin-right: 100px;
    font-size: 12px;
    line-height: 24px;
}
.g-footer .footer-link  h4 {
    color: #646464;
}
.g-footer .footer-link a {
    display: block;
    color: #969696;
}
.g-footer .footer-link a:hover {
    color: #5079d9;
}
.g-footer .footer-service {
    float: right;
    text-align: right;
}
.g-footer .footer-service .tel {
    font-size: 30px;
    color: #646464;
    line-height: 1;
}
.g-footer .footer-service .time {
    font-size: 12px;
    color: #c4c4c4;
}
.g-footer .footer-service .online-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 5px 20px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    color: #5079d9;
    font-weight: bold;
    background: linear-gradient(#fcfcfc, #f5f5f5);
}
.g-footer .footer-service .online-btn:hover {
    background: linear-gradient(#f5f5f5, #f5f5f5);
}
.g-footer .footer-service .icon {
    vertical-align: middle;
    margin-right: 5px;
}
.g-footer .footer-copyright {
    margin-top: 40px;
    font-size: 12px;
}